#include <os2.h>
#include "Test.h"

POINTER IDR_DESKTOP DESKTOP.ICO
POINTER IDR_WHITE   DOCUMENT.ICO
POINTER IDR_BLUE    DOCUMENT.ICO
POINTER IDR_RED     DOCUMENT.ICO
POINTER IDR_PINK    DOCUMENT.ICO
POINTER IDR_GREEN   DOCUMENT.ICO
POINTER IDR_CYAN    DOCUMENT.ICO
POINTER IDR_YELLOW  DOCUMENT.ICO

MENU IDR_DESKTOP
 {SUBMENU "~Documents", IDM_DOCUMENTS
   {MENUITEM "White", IDM_WHITE
    MENUITEM "Blue", IDM_BLUE
    MENUITEM "Red", IDM_RED
    MENUITEM "Pink", IDM_PINK
    MENUITEM "Green", IDM_GREEN
    MENUITEM "Cyan", IDM_CYAN
   }
  MENUITEM "Options", IDM_OPTIONS
  SUBMENU "Exit", IDM_EXIT
   {MENUITEM "~Exit\tF3", SC_CLOSE, MIS_SYSCOMMAND
    MENUITEM "~Continue", IDM_CONTINUE
   }
 }

ACCELTABLE IDR_DESKTOP
 {VK_F1, WM_HELP, VIRTUALKEY
  VK_F3, SC_CLOSE, VIRTUALKEY
 }

MENU IDR_WHITE
 {SUBMENU "White-Foo", IDM_FOO
   {MENUITEM "Change Desktop Title", IDM_DOTHIS
    MENUITEM "Change Document Title", IDM_DOTHAT
    MENUITEM "Do The Other", IDM_DOTHEOTHER
   }
  MENUITEM "White-Bar", IDM_BAR
 }

MENU IDR_BLUE
 {MENUITEM "Blue-Foo", IDM_FOO
 }

MENU IDR_RED
 {MENUITEM "Red-Foo", IDM_FOO
  MENUITEM "Red-Bar", IDM_BAR
  MENUITEM "Red-FooBar", IDM_FOOBAR
 }

MENU IDR_PINK
 {MENUITEM "Pink-Foo", IDM_FOO
  MENUITEM "Pink-Bar", IDM_BAR
 }

MENU IDR_GREEN
 {MENUITEM "Green-Foo", IDM_FOO
  MENUITEM "Green-Bar", IDM_BAR
 }

MENU IDR_CYAN
 {MENUITEM "Cyan-Foo", IDM_FOO
  MENUITEM "Cyan-Bar", IDM_BAR
 }

MENU IDR_YELLOW
 {MENUITEM "Yellow-Foo", IDM_FOO
  MENUITEM "Yellow-Bar", IDM_BAR
  MENUITEM "Yellow-FooBar", IDM_FOOBAR
 }
